@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

body {
  background-color: azure;
  font-family: "B612", sans-serif;
}

.navbar,
.navbar-default {
  /* background-color: #457fa8 !important; */
  background-color: #005379 !important; /* override background image gradient w/ flat color */
}

.jumbotron {
  background-color: #d7f0fe !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #d7f0fe;
}

.btn {
  background-color: #457fa8;
}

.dashboard {
  width: 90%;
  left: 10%;
  height: 1000px;
  position: relative;
}

.statistics {
  left: 10%;
  bottom: 500px;
  position: relative;
}

.statistics-search {
  left: 37%;
  bottom: 400px;
  position: relative;
}

.tweets {
  left: 10%;
  bottom: 450px;
  position: relative;
  width: 90%;
}

.tweets-search {
  left: 10%;
  bottom: 350px;
  position: relative;
  width: 90%;
}

.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading div {
  position: absolute;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  animation: bg 1.4s cubic-bezier(0, 0.2, 0.8, 1);
}
